.Home {
	text-align: center;
}

.cover {
	height: 100vh;
	background: url(../images/couple.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.action {
	text-align: center;
}

.action:hover {
	border: 7px solid #301934;
	top: -30px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
	box-shadow: 5px 10px #a193a3;
}

.Home img {
	margin: 20px;
}
