.quote {
	font-family: "Satisfy", cursive;
	font-size: 45px;
	text-align: center;
}
.center-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row {
	padding-top: 25px;
}
