body {
	margin: 0;

	font-family: 'Quicksand', sans-serif !important;
	color: #301934 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.pageBody {
	padding-top: 125px;
}

.chunk {
	padding-top: 20px;
}

h1,
h2,
h3,
h4,
h5 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.center-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@media only screen and (max-width: 600px) {
	.pageBody {
		padding-top: 0px;
	}
}
